<!DOCTYPE html>
<html>
    <head>
        <title>
            Home Page for Dashboard
        </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
        <link type="text/css" rel="stylesheet" href="css/mainDashboard.css">
    </head>
    <body>
        <div class="top">

            <img src="http://massclinic.org/wp-content/uploads/mass_logo_georgia-150x150-1.png" alt="MASS Clinic Logo" width= "150px" height="150px"/>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
            
            <h1 class="top-page">Mass Clinic Dashboard</h1>

            <div class="dropdown-container">
                <input type="checkbox" name="" id="" class="dropdown-btn">
                <div class="dropdown-list">
                     
                    <a href="/applications">Applications</a> 
                    <a href="/bloodA1C">Blood A1C</a> 
                    <a href="/bloodPressure">Blood Pressure</a> 
                    <a href="/cholesterol">Cholesterol</a> 
                    <a href="/demographics">Demographics</a> 
                    <a href="/followups">Follow-ups</a> 
                    <a href="/noShowPatient">No Show Patients</a> 
                    <a href="/patientAccessibility">Patient Accessibility</a> 
                    <a href="/patientArrivalTime">Patient Arrival Times</a> 
                    <a href="/patientEncounter">Patients Encountered</a> 
                    <a href="/patientEnrollYear">Patient Enrolled Years</a> 
                    <a href="/patientReferredMassClinic">Mass Clinic Referrals</a> 
                    <a href="/patientReferredToTelehealth">Telehealth Referrals</a> 
                    <a href="/patientTypeServe">Type of Patients Served</a> 
                    <a href="/pctChronicCare">Chronic Care Percentages</a> 
                    <a href="/pctEligibleHealthCare">Eligible for Prescription Assistance</a> 
                    <a href="/pctFiftyPerGeneralFollowUp">Possibility of Follow-up Appointment Percentages</a> 
                    <a href="/pctPrescriptApp">Patients Eligible for Prescription Assistance</a> 
                    <a href="/pctTwentyPerReferral">Eligible for Health Care Coverage</a> 
                    <a href="/placeOfCare">Place of Care</a> 
                    <a href="/providedScreening">Provided Screenings</a> 
                    <a href="/twentyFivePerTelehealthReferred">Patients Referred to Telehealth Percentages</a> 
                    <a href="/uniquePatientInYear">Unique Patients Seen by Year</a> 
                    <a href="/volunteers">Volunteers</a> 
                </div>    
            </div> 


        </div>
        <hr>

        <input type="checkbox" name="" class="tab-btn"/>
        <div class="nav-bar">
            <ol>
                <li><a href="/">Main Dashboard</a></li>
                <li><a href="/DashPatientsEncountered">Patients Encountered</a></li>
                <li><a href="/DashPatientGoalOutcomes">Patient Goal & Outcomes</a></li> 
                <li><a href="/DashDemographics">Demographics</a></li>
                <li><a href="/DashPatientAppointments">Patient Appointments</a></li>
            </ol>
        </div>

        <div class="chart"><%- include('Partials/patientReferredMassClinic', {patients:data.referralsMassClinic})%><a href="/patientReferredMassClinic">See More</a></div>
        <div class="chart"><%- include('Partials/patientEncounter', {patient:data.patientEncounter})%><a href="/patientEncounter">See More</a></div>   
        <div class="chart"><%- include('Partials/patientAccessibility', {patient:data.patientAccessibility})%><a href="/patientAccessibility">See More</a></div>
        <div class="chart"><%- include('Partials/patientTypeServe', {patient:data.patientTypeServe})%><a href="/patientTypeServe">See More</a></div>
        <div class="chart"><%- include('Partials/applications', {patient:data.applications})%><a href="/applications">See More</a></div> 
        
         
    
        
    </body>
</html>
