<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <title>Patient 50% General Follow Up</title>
    <link type="text/css" href="css/style.css" rel="stylesheet">
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    
    <input type="checkbox" name="" class="tab-btn"/>

    <div class="dropdown-container">
        <input type="checkbox" name="" id="" class="dropdown-btn">
        <div class="dropdown-list">
             
            <a href="/applications">Applications</a> 
            <a href="/hbA1c">Blood A1C</a> 
            <a href="/bloodPressure">Blood Pressure</a>   
            <a href="/cholesterol">Cholesterol</a> 
            <a href="/demographics">Demographics</a> 
            <a href="/followups">Follow-ups</a> 
            <a href="/noShowPatient">No Show Patients</a> 
            <a href="/patientAccessibility">Patient Accessibility</a> 
            <a href="/patientArrivalTime">Patient Arrival Times</a> 
            <a href="/patientEncounter">Patients Encountered</a> 
            <a href="/patientEnrollYear">Patient Enrolled Years</a> 
            <a href="/patientReferredMassClinic">Mass Clinic Referrals</a> 
            <a href="/patientReferredToTelehealth">Telehealth Referrals</a> 
            <a href="/patientTypeServe">Type of Patients Served</a> 
            <a href="/pctChronicCare">Chronic Care Percentages</a> 
            <a href="/pctEligibleHealthCare">Eligible for Prescription Assistance</a> 
            <a href="/pctFiftyPerGeneralFollowUp">Possibility of Follow-up Appointment Percentages</a> 
            <a href="/pctPrescriptApp">Patients Eligible for Prescription Assistance</a> 
            <a href="/pctTwentyPerReferral">Eligible for Health Care Coverage</a> 
            <a href="/placeOfCare">Place of Care</a> 
            <a href="/providedScreening">Provided Screenings</a> 
            <a href="/twentyFivePerTelehealthReferred">Patients Referred to Telehealth Percentages</a> 
            <a href="/uniquePatientInYear">Unique Patients Seen by Year</a> 
            <a href="/volunteers">Volunteers</a> 
        </div>    
    </div> 

    <div class="nav-bar">
        <ol>
            <li><a href="/">Main Dashboard</a></li>
            <li><a href="/DashPatientsEncountered">Patients Encountered</a></li>
            <li><a href="/DashPatientGoalOutcomes">Patient Goal & Outcomes</a></li> 
            <li><a href="/DashDemographics">Demographics</a></li>
            <li><a href="/DashPatientAppointments">Patient Appointments</a></li>
        </ol>
    </div>

    <div class="content">
    <h1 class="header">Patients who went to a followup appointment</h1>
    <table class="data_table" id="patient_table" >
        <tr>
            <th>TargetPercent</th>
            <th>PercentAchived</th>
            <th>RecordedYear</th>
            <th>Numerator</th>
            <th>Denominator</th>
            <th>PatientType</th>
        </tr>
        <% patient.forEach(function(o) { %>
            <tr><td><%= o.TargetPercent %></td><td><%= o.PercentAchived %></td><td><%= o.RecordedYear %></td><td><%= o.Numerator %></td><td><%= o.Denominator %></td><td><%= o.PatientType %></td></tr>
        <% }); %>
    </table>
    <div id="canvas_container">
        <canvas id="myChart" width="200" height="200"></canvas>
    </div>
    <div class="new-line">
        <label>Select Recored Year</label>
        <select id="time-frame" name="time-frame">
            <option>All Years</option>
        </select>
    </div>
    <script src="javascript/array.js" type="text/javascript"></script>
    <script>
        const chosenField = "Numerator";
        let dataArray = returnArrayFromTable("patient_table");
        
        let years = makeYearArray(dataArray, "RecordedYear");
        addSelectYears(years);
        
        let valuesArray = desiredArrayByYear("All Years", dataArray, chosenField);
        let labelArray = makeLabelArray(dataArray, "PatientType", true, false);
        let colorArray = makeMultipleColorArray( 3, false, years.length);
        let globalChart = generateChart(labelArray, valuesArray, colorArray, "Number Of Patients", 'bar' )
        

        document.getElementById('time-frame').addEventListener('change', function() {
                let changedDataArray = dataArrayByYear(dataArray, this.value, "RecordedYear");
                let changedValuesArray = desiredArrayByYear(this.value, dataArray, chosenField);
                let changedLabelArray = makeLabelArray(changedDataArray, "PatientType", true);
                let changedColorArray = [];
                if(this.value == "All Years"){
                    changedColorArray = makeMultipleColorArray( 3, false, years.length);
                }
                else{
                    changedColorArray = makeMultipleColorArray( 3, true, 1);
                }
                globalChart.destroy();
                globalChart = generateChart(changedLabelArray, changedValuesArray, changedColorArray, "Number Of Patients", 'bar');
            });
    </script>
</body>
</html>