<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <title>25% Telehealth Follow up</title>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <a href="/">Home</a> 
    <div class="content">
    <h1 class="header"></h1>
    <table class="data_table" id="patients_table" >
        <tr>
            <th>TargetPercent</th>
            <th>PercentAchived</th>
            <th>RecordedYear</th>
            <th>Numerator</th>
            <th>Denominator</th>
        </tr>
        <% patients.forEach(function(o) { %>
            <tr><td><%= o.TargetPercent %></td><td><%= o.PercentAchived %></td><td><%= o.RecordedYear %></td><td><%= o.Numerator %></td><td><%= o.Denominator %></td></tr>
        <% }); %>
    </table>
    <div id="canvas_container">
        <canvas id="myChart" width="200" height="200"></canvas>
    </div>
    <div class="new-line">
        <label>Select Recored Year</label>
        <select id="time-frame" name="time-frame">
            <option>All Years</option>
        </select>
    </div>
</body>
</html>